<!DOCTYPE html>
<html>

<head>
  <title>Join GetService GH</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <div class = "container"> 
  <h2>Join GetService GH</h2>

  <form method="POST" action="/worker-signup" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Full Name" required><br><br>

    <input type="text" name="skill" placeholder="Skill e.g Plumber" required><br><br>

    <input type="text" name="location" placeholder="Location e.g Kumasi" required><br><br>

    <input type="tel" name="phone" placeholder="Phone Number" required><br><br>

    <label>Years of Experience</label>
    <input type="number" name="experience" placeholder="Years of Experience"><br><br>

    <label>Upload Profile Photo</label>
    <input type="file" name="photo"><br><br>

    <button type="submit" style="background:green; color:white; padding:10px 20px; border:none;">
      Register
    </button>
  </form>
  <br>
    <a href="/" class="back-link">← Back to Search</a>
    </div>
</body>

</html>
